p.normal {
    border: 2px dashed black;
    padding: 5px;
}

p.round1 {
    border: 2px double blue;
    border-radius: 5px;
    padding: 5px;
}

p.round2 {
    border: 2px inset red;
    border-radius: 8px;
    padding: 5px;
}

p.round3 {
    border: 2px solid red;
    border-radius: 2px 10px 20px;
    padding: 5px;
}

div.marg {
    border: 1px solid red;
    margin-left: 100px;
}

p.ex1 {
    border: solid 1px;
    margin-left: inherit;
}